.container-home-fluid {
    width: 100%;
}
.carousel-inner {
    height: 100%;
}
.principalHome .container {
    position: relative;
    height: 100%;
}
.degradeBackground {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.39%, rgba(0, 0, 0, 0.3) 67.4%), #D9D9D9;
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
}
.titulo-principal {
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 0;
    bottom: 30px;
    line-height: 24px;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
    }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}
  
.carousel-inner .carousel-item > img {
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
}
.secundarioHome {
    margin-top: 15px;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    width: 32.5%;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}
.boxFondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.39%, rgba(0, 0, 0, 0.3) 67.4%), #D9D9D9;
    mix-blend-mode: multiply;
}
.box p {
    color: #fff;
    position: relative;
    align-self: flex-end;
    margin-bottom: 14px;
}